<html>
    <head>
        <title>human computer interaction project</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/mainmenu.css">
    </head>
    <body id="bro">
        <nav class="navbar navbar-light ">
            <div class="container-fluid">
              <a class="navbar-brand">colour game</a>
            </div>
          </nav>
          <a href="/selectpage">
          <button type="button" class="btn btn-success">Start</button>
          </a>
      <script type="text/javascript" src="js/mainmenu.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </body>
</html>
