<html>
    <head>
        <title>human computer interaction project</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/selectpage.css">
    </head>
    <body> 
      <div id="bro">
      <a href="/beginner">
      <button type="button" class="btn btn-primary">Beginner</button>
      </a>
      <a href="/intermediate">
      <button type="button" class="btn btn-warning">Intermediate</button>
      </a>
      <a href="/advanced">
      <button type="button" class="btn btn-danger">Advanced</button>
      </a>
      <div class="btn-text-right">
    <a href="/">
    <button type="button" class="btn btn-info">Go To Main Menu</button>
    </a>
    </div>
      </div>
      <script type="text/javascript" src="js/selectpage.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </body>
</html>