<html>
    <head>
        <title>human computer interaction project</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/tutorial.css">
    </head>
    <body id="bro">
    <div id=uppers>
    <hr class="upper">
    <h1> About <span class="green">The </span><span class="blue">Game</span></h1>
    <hr class="upper">
    </div>
    <p id="below">
        This game is basically a color guessing game using the RGB scale (which ranges from 0- 255), it is meant for designers, architects, game developers and everyone who uses digital colors in their work. 
    It puts a RGB combination in front of the user and the user has to click on the correct color block. It acts as a practice for the users so that they can use the RGB scale with precision and put their imagination into reality effect
     </p>
     <div id=lowers>
    <hr class="upper">
    <h1> How To <span class="green">Play </span><span class="blue">The Game</span></h1>
    <hr class="upper">
    </div>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="images/1.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">To Select</h5>
        <p class="card-text">First of all the user has to select the game mode options out of these three which depicts the level of the game with beginner being the easiest.</p>
      </div>
      <div class="card-footer">
        <a href="/beginner">
      <button type="button" class="btn btn-primary">Beginner</button>
      -You Can Go And Try
      </a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="images/2.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Wrong Selection</h5>
        <p class="card-text">The user now has to click on the right box which depicts the colour present in the RGB form in the range of (0-255).If the user selects the wrong box then it dispalys "Try again"</p>
      </div>
      <div class="card-footer">
        <a href="/intermediate">
      <button type="button" class="btn btn-warning">Intermediate</button>
      -You Can Go And Try
      </a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="images/3.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Right Selection</h5>
        <p class="card-text">The user when selects the right colour the user can see the correct message as depicted in the picture above.Also the background colour changes to the right colour to show ur completion status.</p>
      </div>
      <div class="card-footer">
        <a href="/advanced">
      <button type="button" class="btn btn-danger">Advanced</button>
      -You Can Go And Try
      </a>
      </div>
    </div>
  </div>
</div>
    <h1> ALL <span class="green">THE </span><span class="blue">BEST!!</span></h1>
    <div class="btn-text-right">
    <a href="/">
    <button type="button" class="btn btn-info">Go To Main Menu</button>
    </a>
    </div>
      <script type="text/javascript" src="js/tutorial.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </body>
</html>